{
  "extends": ["plugin:vue/essential","standard"],
  "globals": {
    "window": false,
    "document": false
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./build/webpack.common.js"
      }
    }
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2017,
    "sourceType": "module"
  }
}
