{
  "extends": ["standard", "prettier"],
  "plugins": ["prettier", "import","jest"],
  "rules": {
    "prettier/prettier": "error"
  },
  "globals": {
    "window": false,
    "document": false
  },
  "env": {
    "jest/globals": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./build/webpack.common.js"
      }
    }
  }
}
